body {
    font-family: Arial, sans-serif;
    background-color: rgb(24, 24, 66);
    color: rgb(255, 255, 255);
}

h1 {
    color: rgb(99, 99, 233);
}

a {
    color: rgb(155, 214, 214);
    text-decoration: none;
}

a:hover {
    color: white;
}

ul li:hover {
    color: cadetblue;
}

ul>li {
    font-weight: bold;
}

ul li:nth-child(1) {
    background-color: rgb(36, 40, 63);
}

h1+p {
    background-color: azure;
}